@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ededed;
}

@theme {
  --color-brand-gold: #a67c38;
  --color-brand-gold-hover: #8c6527;
  --color-brand-olive: #494f2a;
  --color-brand-olive-hover: #2c351e;
  --color-brand-dark: #09090b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
